<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품등록</title>
  </head>
  <body>
    <a href="" th:href="@{/prosduct/add2}">상품등록</a>
    <form action="/products/add2" method="get">
      <div><label for="pname">상품명</label><input type="text" id="pname" name="pname"/></div>
      <div><label for="quantity">수량</label><input type="text" id="quantity" name="quantity"/></div>
      <div><label for="price">가격</label><input type="text" id="price" name="price"/></div>
      <div><input type="submit" value="등록" /></div>
    </form>
  </body>
</html>
 